@page "{resturantId:int?}"
@model OdeToFood.Pages.Resturants.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>@Model.Resturant.Name</h1>

<a asp-page="./List" class="btn btn-link">All Resturants</a>

<form method="post">

    <input type="hidden" asp-for="Resturant.Id" />

    <div class="form-group">
        <label asp-for="Resturant.Name">Name</label>
        <input class="form-control" asp-for="Resturant.Name" />
        <span class="text-danger" asp-validation-for="Resturant.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Resturant.Location">Location</label>
        <input class="form-control" asp-for="Resturant.Location" />
        <span class="text-danger" asp-validation-for="Resturant.Location"></span>
    </div>
    <div class="form-group">
        <label asp-for="Resturant.Cuisine">Cuisine</label>
        <select class="form-control" asp-for="Resturant.Cuisine" asp-items="Model.Cuisines">
        </select>
        <span class="text-danger" asp-validation-for="Resturant.Cuisine"></span>
    </div>

    <button type="submit" class="btn btn-outline-primary">Save</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}